@import "tailwindcss";

 @plugin "daisyui" {
   themes: light --default, dark;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7f0f11;
  --color-secondary: teal;
}
